<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<RUN_SET
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xsi:noNamespaceSchemaLocation="http://www.ncbi.nlm.nih.gov/viewvc/v1/trunk/sra/doc/SRA_1-5/SRA.run.xsd?view=co">
    <RUN center_name="UNC-LCCC" alias="UNCID:[% lane_accession %]">
        <EXPERIMENT_REF refcenter="UNC-LCCC" refname="UNCID:[% experiment_accession %]-[% sample_accession %]"/>
    </RUN>
</RUN_SET>